.main {
  height: 100dvh;
  width: 100%;
  padding-block: 1rem;
  overflow: hidden;
  &:before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.container {
  width: min(400px, calc(100% - 3rem));
  margin-inline: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}
section {
  position: relative;
  height: 100%;
}
